@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Fredoka One', cursive;
  background: linear-gradient(135deg, #222, #444);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  min-height: 100vh;
}

.arena__grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 400px;
  background: #222;
  border-radius: 200px;
  padding: 60px 30px;
}

.arena__grid-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
}

.arena__grid-item .box-pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(400px - 60px);
  height: calc(400px - 60px);
  border-radius: 50%;
  background: radial-gradient(#222, #333);
  border: solid 2px rgb(41, 15, 160);
  box-shadow: 0px 0px 30px 3px rgba(41, 15, 160, 0.9) ;
}

.arena__grid-item .box-pokemon img {
  width: 80px;
}

.arena__grid-item .escolher-pokemon, .batalhar {
  position: absolute;
  bottom: -80px;
  width: max-content;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(#fed651 30%, #e2ab2a);
  box-shadow: 0 0 0 2px #e2ab2a, 0 0 0 2px #fed651, 0 5px 0px #794a1d;
  font-size: 1.125rem;
  text-shadow: 2px 2px 2px #93422b;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.batalhar {
  position: initial;
}

.arena__grid-item .escolher-pokemon:hover, .batalhar:hover {
  background: linear-gradient(#e2ab2a 30%, #fed651);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #9e9e9e9d;
  z-index: 40;
}

.modal-container.open {
  display: flex;
}

.modal {
  position: relative;
  width: 60%;
  min-height: 400px;
  border-radius: 5px;
  background: #fff;
  padding: 30px;
}

.modal button {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #D63030;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal__grid {
  display: flex;
  justify-content: space-between;
}

.modal__grid-item {
  border-radius: 1.5rem;
  background: #82B5A4;
  width: 250px;
  min-height: 350px;
  padding: .5rem;
}

.modal__grid-item .progress-group {
  width: 100%;
  margin-bottom: 1rem;
}

.modal__grid-item .progress-group
.icone-img {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .5rem;
  align-items: center;
  margin-bottom: 6px;
}

.modal__grid-item .progress-group span {
  text-shadow: 2px 2px 2px #2A5249;
  color: #fff;
}

.modal__grid-item .progress-group
.icone-img .box-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  background: #356654;
  box-shadow: inset 0 5px 5px 0 #2A5249, inset 0 5px 5px 0 #2A5249, inset 0 2px 2px 0px #2A5249;
}

.modal__grid-item .progress-group
.icone-img img {
  width: 18px;
}

.modal__grid-item .box-pokemon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: #438B7D;
  box-shadow: inset 0 10px 0 #3A7364, inset 0 10px 5px #3A7364;
  padding: 1rem;
}

.modal .modal__grid-item .barra-progress {
  position: relative;
  flex: 1;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: #356654;
  box-shadow: inset 2px 2px 2px #174b2e, inset 2px 5px 2px #1B5F39;
  padding: .1rem;
  padding-left: .15rem;
  overflow: hidden;
}

.modal .barra-progress .progress {
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 20px;
  background: linear-gradient(#FED651, #e2ab2a 60%);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  z-index: 1;
}

@media (max-width: 800px) {
  .arena__grid {
    flex-direction: column;
    height: auto;
  }
}